body {
	box-sizing: border-box;
	background-color: #cdd4da;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 15px;
}
.title {
	font-size: 25px;
	text-transform: uppercase;
	color: #ffffff;
}
.header-conteiner {
	display: flex;
    justify-content: space-between;
    align-items: center;
	height: 50px;
	background-color:#1E262D;
}
.nav-list {
	display: flex;
	margin: auto;
	padding: 0 15px;
	list-style: none;
	font-size: 18px;
}
.nav-item {
	color: #ffffff;
	text-transform: uppercase;
}
.nav-link {
	padding: 15px 10px;
}
.nav-item:not(:last-child) {
    margin-right: 30px;
}
.nav-item:hover {
	background: #2C3E50;
}
.nav-link:hover {
	background: #2C3E50;
	cursor: pointer;
}
.section-profile-avatar {
	width: 200px;
	border-radius: 180px;
}
.section-profile {
	display: flex;
	justify-content: space-between;
	padding: 35px 85px;
	margin-bottom: 50px;
	border-bottom: 10px solid #ffffff;
}
.section-profile-title {
	position: relative;
	text-align: center;
	padding-top: 15px;
	margin-bottom: 60px;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: #ffffff;
}
.section-profile-title::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -25px;
	margin-left: -105px;
	width: 200px;
	height: 4px;
	background-color: #ffffff;
}
.section-profile-profession {
	font-size: 30px;
	text-transform: uppercase;
	color: #ffffff;
}
.section-conteiner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.section {
	padding: 10px;
	padding-bottom: 25px;
	width: calc(48% - 20px);
	border-bottom: 2px solid #ffffff;
}
.section-contacts-item {
	position: relative;
	padding-bottom: 18px;
	padding-left: 15px;
	font-style: italic;
	font-size: 18px;
	list-style: none;
}
.section-contacts-title{
	margin-right: 10px;
	font-size: 15px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #ffffff;
}
.section-contacts-img {
	position: absolute;
	top: -3px;
	left: -15px;
	width: 24px;
	height: 24px;
}
.section-experience{
	display: flex;
}
.section-list{
	padding: 0;
}
.section-item {
	position: relative;
	margin-bottom: 0px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-left: 30px;
	list-style: none;
}
.section-item::before {
	content: "";
	position: absolute;
	left: 2px;
	width: 18px;
	height: 18px;
	background-image: url("../assets/img/checkbox.svg");
}
.section-experience-description {
	width: 50%;
}
pre {
	padding: 0;
	margin: 0;
}
.footer {
	height: 50px;
	background-color:#1E262D;
}
.footer-conteiner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	color: #ffffff;
}
.footer-item {
	width: 40%;
}
.rsschool-logo {
	height: 10px;
}
.footer-link {
	text-decoration: none;
}
.footer-year {
	margin-right: 20px;
}



